
.logForm {
  padding-top: 200px;
}

.signForm {
  padding-top: 40px;
}

.background {
  background-image: '../images/mosaic_bg_medium.jpg';
}

.startGameText, .accountText, .dietPrefsDropdown {
  z-index: 1;
  position: absolute;
}

.startGameText, .accountText {
  font-size: 175px !important;
  top: 50%;
}

.dietPrefsDropdown {
    font-size: 75px !important;
      top: 70%;
    
}